# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
.report/

# Runtime data
*.cjs
*.mjs
*.d.ts
*.tsbuildinfo
*.func.js

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
.c9/
.sync/
*.sublime-project
*.sublime-workspace
.DS_Store
.history/

# SvelteKit
.svelte-kit/
.vercel/

# Bun
bun.lockb

# Storybook
storybook-static/

# Inlang
project.inlang/cache/

# Build output
build/

# Netlify
.netlify/
