---
import "../styles/global.scss";
import "../styles/index.css";

import Background from "../components/Background.svelte";
import BaseHead from "../components/BaseHead.astro";
import DrawerNav from "../components/DrawerNav.svelte";
import HamburgerMenu from "../components/HamburgerMenu.svelte";
import NavSlide from "../components/NavSlide.svelte";

import HomeSection from "../sections/home.svelte";
import ProjectsSection from "../sections/projects.astro";
import AboutMeSection from "../sections/about-me.svelte";

const sections = [
	{ id: "home", name: "Home", active_color: "var(--red)" },
	{ id: "projects", name: "Projects", active_color: "var(--green)" },
	{ id: "about-me", name: "About Me", active_color: "var(--blue)" },
];
---

<style type="scss">
	body {
		position: relative;
		color: white;
		height: 100dvh;
		overflow: hidden;
		background-color: #130f40;
		background-image: linear-gradient(135deg, #130f40 0%, #000000 74%);
	}
	header {
		height: 50px;
		padding: 5px 20px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		> .logo-text {
			user-select: none;
			display: inline-block;
		}
		@media (max-width: 600px) {
			height: 40px;
		}
	}
	main {
		height: calc(100dvh - 50px);
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		position: relative;
		&::-webkit-scrollbar {
			display: none;
		}
		@media (min-width: 600px) {
			height: calc(100dvh - 50px);
		}
	}
</style>

<html lang="en">
	<head>
		<BaseHead title="Personal: KodeMat" description="Welcome to the personal portfolio website of Karel Matthieu L. Logro, showcasing my projects, skills, and background in programming. Explore my journey, including projects in Rust, systems programming, and more." />
		<link
			href="https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body>
		<header>
			<a href="/" class="styleless logo-text"
				><img
					src="/logo-text-light.png"
					width={240}
					height={40}
					alt="logo-text"
				/></a
			>
			<NavSlide
				sections={sections}
				parent="main"
				client:media="(min-width: 600px)"
			/>
			<HamburgerMenu
				sidebar=".side-nav"
				client:media="(max-width: 600px)"
			/>
		</header>
		<DrawerNav sections={sections} client:media="(max-width: 600px)" />
		<main>
			<Background client:load />
			<HomeSection client:load />
			<ProjectsSection />
			<AboutMeSection client:visible />
		</main>
	</body>
</html>
